body {
  background-color: #0881a3;
  overflow-x: hidden;
}

.App {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.App-header {
  margin: 20px;
  margin-top: 0;
  padding-top: 20px;
  text-align: center;
}

h1 {
  color: #fffdfb;
  font-size: 90px !important;
  font-weight: 900;
}

.form-inline {
  justify-content: center;
}

.form-control {
  width: 500px !important;
  color: #0881a3 !important;
}

.form-control::placeholder {
  color: #0881a3;
}

.btn {
  background-color: #0881a3;
  color: #fffdfb;
}

.btn .material-symbols-outlined {
  font-size: 1.5rem;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -50;
  opacity: 70%;
}

.footer {
  color: #fffdfb;
  padding: 20px;
  background-color: rgba(8, 129, 163, 0.9);
  max-width: 100%;
}

footer {
  margin-top: auto;
}

a {
  color: #ffd6a4;
}

strong {
  font-size: 20px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.word-container {
  background-color: rgba(253, 233, 223, 0.9);
}

.col-4 {
  padding-right: 0 !important;
}

.synonyms-container {
  background-color: rgba(8, 129, 163, 0.9);
  color: #ffd6a4;
}

.utilities-container {
  background-color: rgba(255, 214, 164, 0.87);
}

.category,
.pronunciation {
  font-size: 20px;
  line-height: 1.5;
}

.searched-word {
  font-size: 70px;
  font-weight: bold;
  line-height: 1;
}

.number {
  font-weight: bold;
  font-size: 18px;
}

.meaning {
  font-size: 23px;
}

.extra-title {
  font-size: 20px;
}

.extra-content {
  font-size: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg2 {
  background-color: rgba(255, 214, 164, 0.15);
}
.bg3 {
  background-color: rgba(255, 253, 251, 0.3);
}

@media (max-width: 768px) {
  h1 {
    font-size: 50px !important;
  }

  .form-control {
    width: 250px !important;
  }

  .searched-word {
    font-size: 40px;
  }

  .container-mainresult {
    margin: 10px !important;
    width: 95%;
    justify-self: center;
  }

  .category,
  .pronunciation {
    font-size: 16px;
  }

  .meaning {
    font-size: 18px;
  }

  .extra-title {
    font-size: 16px;
  }

  .extra-content {
    font-size: 14px;
  }

  .word-container {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .col-4 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
    padding-right: 12px !important;
    flex-direction: row !important; /* los 3 rows quedan lado a lado */
  }

  .synonyms-container,
  .utilities-container {
    min-height: 90px;
  }

  .synonym-list {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .bg2 {
    flex: 1;
    text-align: center;
  }

  .footer {
    position: relative;
    font-size: 14px;
    text-align: center;
    padding: 5px;
  }

  strong {
    font-size: 16px;
  }

  ul {
    display: flex;
    justify-content: space-around;
    gap: 15px;
  }

  .extra-resultscontainer {
    padding: 0;
    margin-top: 5px;
  }
}
